<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <!-- make sure to set 'Copy To Output Directory' option for this file -->
    <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->
    <variable name="layout" value="${date:universalTime=true}||${level}||MyPwC||${correlation-id}||${message}||${exception:maxInnerExceptionLevel=10:format=ToString}${newline}" />
    <targets>
        <target name="file" xsi:type="File" fileName="${level}.log" layout="${layout}" archiveFileName="${archiveDirectory}/archives/${level}.{#}.log" archiveAboveSize="${archiveAboveSize}" archiveEvery="${archiveEvery}" archiveNumbering="Rolling" maxArchiveFiles="${maxArchiveFiles}" concurrentWrites="true" keepFileOpen="false" />
    </targets>
    <rules>
        <logger name="*" minlevel="Error" writeTo="file" />
    </rules>
</nlog>
